<main>
	<h1>Ng2Select demo</h1>

	<div class="section">
		<h2>Select with predefined value</h2>

		<ng2-select [placeholder]="'Choose your framework'"
                    [displayBy]="'value'"
                    [selectedDisplayBy]="'label'"
                    [options]="frameworks"
                    [(ngModel)]="framework1">
		</ng2-select>

		<p *ngIf="framework1">
			You chose {{ framework1.value }}
		</p>
	</div>

	<div class="section">
		<h2>Select without predefined value</h2>

        <ng2-select [placeholder]="'Choose your language'"
                    [displayBy]="'value'"
                    [options]="languages"
                    [(ngModel)]="language">
        </ng2-select>

		<p *ngIf="language">
			You chose {{ language.value }}
		</p>
	</div>

    <div class="section">
        <h2>Select with multiple values</h2>

        <ng2-select [placeholder]="'Choose your language'"
                    [multiple]="true"
                    [displayBy]="'value'"
                    [identifyBy]="'id'"
                    [options]="languages"
                    [(ngModel)]="multipleValuesModel">
        </ng2-select>

        <p *ngIf="multipleValuesModel.length">
            <span>You chose</span>
            <span *ngFor="let option of multipleValuesModel">
                {{ option.value }}
            </span>
        </p>
    </div>

    <div class="fixed-section">
        <h2>Select with simple array of values</h2>

        <ng2-select [placeholder]="'Choose your framework'"
                    [options]="frameworksList"
                    [(ngModel)]="framework">
        </ng2-select>

        <p *ngIf="framework">
            You chose {{ framework }}
        </p>
    </div>

</main>
