$main-color: #2196F3;

ng2-menu-item.selected .ng2-menu-item {
    background: $main-color;
    color: #fff;
    border-bottom: 1px solid lighten($main-color, 15%);
}

ng2-menu-item.selected:hover .ng2-menu-item {
    background: lighten($main-color, 5%);
    color: #fff;
}
